Cerințe generale
1. La final se va preda codul sursa împreună cu fișierul de requirements.txt.
NU se va transmite și folderul venv.
2. Folosiți comentarii în interiorul programului pentru descrierea funcționalității.
3. Citați sursele folosite. Dacă ați reutilizat cod păstrați în comentariu de documentare de la
începutul fișierului un link către codul original.
4. NU este necesară pentru prezentarea proiectelor o prezentare powerpoint. Codul sursă și un
scurt demo sunt suficiente.
5. Totuși ar fi bine să vă pregătiți un discurs . Prezentarea poate fi realizată de un singur membru al
echipei, dar ar fi indicat să fie toți membri implicați.
6. Toți membri echipei trebuie să fie capabili să răspundă la întrebări.
----------------------------------------------------------------------------------------------------------------
Echipa: 12-E6
Studenti: GIUBELAN F. ISABELA, GOLAŞIE E. LAURA MIRUNA
Tema proiect: D8-T1 | Testarea unei aplicații web.
Implementarea unui script ce va procesa toate fotografiile dintr-un folder ce au contrast slab. Puteți folosi
metoda de egalizare a histogramei.
Dezvoltați un script ce face o autentificare pe o platforma de email și trimite un email către aceeași
adresa de email. Verificați dacă email-ul a fost primit.
Cerinte minimale:
1. Scrieți un script pentru autentificarea pe platforma.
2. După autentificare scrieți un script pentru a verifica trimiterea unui mail.
3. Afișarea timpului total de execuție.
Resurse:
https://selenium-python.readthedocs.io/
https://dev.to/tonetheman/using-selenium-to-login-to-a-website-10o4